*{
  margin: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.header{
  width: 100%;
  height: 50px;
  background-color: #0a0a0a;
  /* background-color: rgb(45, 61, 61); */
  display: flex;
  justify-content: space-between;
}
h1{
  margin-left: 50px;
  color: aliceblue;
}
.home{
  margin-top: 5px;
  cursor: pointer;
  color: cyan;
  /* color: #25be60 */
}
.home:hover:active{
  margin-top: 5px;
  cursor: pointer;
  color: #2575be;
  transform: translateY(2px);
}
.searchbar{
  /* margin: auto 10px; */
  cursor: pointer;
  margin-right: 50px;  
  margin-top: 15px;
}
.search_button:hover{
  background-color: aquamarine;
  cursor: pointer;  
}
.search_button:active {
  background-color: bisque;
  transform: translateY(2px);
}
.center{
  text-align: center;
  margin-left: 48rem;

}
.container{
    display: flex;
      flex-wrap: wrap;
}
.box{
  height: max-content;
  width: calc(20% - 20px);
  margin: 10px;
}
img{
  width: 100%;
}
.movie{
  visibility: hidden;
  position: relative;
  height: 30px;
  top: -34px;
  width: 100%;
  color: rgb(252, 249, 249);
  background: #0a0a0a;
  opacity: 80%;
}
h4{
  opacity: 2;
}
.box:hover {
  width: calc(20% - 4px);
  margin: 2px;
  cursor: pointer;  
}

.box:hover .movie {
  visibility: visible;
  cursor: pointer;  
}
